{% extends 'main_page/header.html' %}
{% load static %}
{% block title %} Main {% endblock %}
{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'users_management/css/log.css' %}">
{% endblock %}
{% block context %}

<div style="align-self: center;min-width: 300px;">
    <main class="signup-main">
        <h1 class="title">Sign up</h1>
        <form class="form sign-up-form" method="POST">
            {% csrf_token %}
            {{form}}
            <div class="btn-holder">
                <button class="btn btn-add" type="submit">Sign up</button>
            </div>
            <div class="requirements">
                <h2>Special requirements</h2>
                <input type="checkbox" id="walking_stick" name="walking_stick">
                <label for="walking_stick">Walking stick</label><br>
                <input type="checkbox" id="wheel_chair" name="wheel_chair">
                <label for="wheel_chair">Wheel chair</label><br>
                <input type="checkbox" id="blind" name="blind">
                <label for="blind">Visual impairment facilities</label><br>
                <input type="checkbox" id="public_toilets" name="public_toilets">
                <label for="public_toilets">Public toilets</label><br>
                <input type="checkbox" id="priority_parking" name="priority_parking">
                <label for="priority_parking">Priority parking</label><br>
            </div>
        </form>
    </main>
</div>

{% endblock %}
