{% extends 'main_page/header.html' %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'main_page/css/index.css' %}">
  <link rel="stylesheet" href="{% static 'main_page/css/item.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'main_page/js/item.js' %}"></script>
{% endblock %}

{% block context %}
<main>
    <div class="parent">
        <div class="div1"><img src="{% static 'main_page/img/ABG.jpg' %}"></div>
        <div class="div2"><h2 class="name">Adelaide Botanic Garden</h2></div>
        <div class="div3">
            <p class="desc">
            The Botanic Gardens of South Australia comprises three beautiful public gardens – Adelaide Botanic Garden (and Botanic Park) in the city of Adelaide, Mount Lofty Botanic Garden in the Adelaide Hills and Wittunga Botanic Garden in suburban Blackwood.
            These Gardens have provided visitors with a range of cultural, recreational, educational and scientific facilities for over 160 years.
            More than 2 million people visit these gardens each year including thousands of school students. We are champions, protectors and storytellers, building on our collections, sites, expertise and partnerships to understand and share how plants shape each others' futures.
            Our vision is a community that is inspired to contribute to the sustainability of our living world, and understands the vital role of plants, fungi and algae in our ecosystems and to human life.
            </p>
        </div>
        <div class="div4">
            <audio id = "idAudio">
                <source src = "{% static 'main_page/audio/ABG.mp3' %}" type = "audio/ogg" >
                <source src = "{% static 'main_page/audio/ABG.mp3' %}" type ="audio/mpeg">The browser is not supporting the audio element...
            </audio>
            <button id="start" class="btn" onclick="playaudio()"><img src="{% static 'main_page/img/play-circle-svgrepo-com.svg' %}"></button>
            <button id="pause" class="hidden btn" onclick="pauseaudio()"><img src="{% static 'main_page/img/pause-button-svgrepo-com.svg' %}"></button>
            <button id="stop" class="hidden btn" onclick="stopaudio()"><img src="{% static 'main_page/img/stop-circle-solid-svgrepo-com.svg' %}"></button>
        </div>
    </div>




</main>
{% endblock %}
