{% extends 'main_page/header.html' %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'main_page/css/index.css' %}">
  <link rel="stylesheet" href="{% static 'main_page/css/suggestions.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'main_page/js/index.js' %}"></script>
{% endblock %}

{% block context %}
<main>
    <table>
        <tr>
            <th>Picture</th>
            <th>Place</th>
            <th>Accessibility</th>
            <th>Icons</th>
        </tr>
        {% for place in places %}
            <tr>
                <td><a href="{% url 'item' 1 %}"></a>pic</td>
                <td><div class="placeholder">{{ place.name }}</div></td>
                <td><div class="placeholder">{{ place.description }}</div></td>
                <td class="icons-holder">
                    {% if place.public_toilet %}
                        <img src="{% static 'main_page/img/toilet.png' %}">
                    {% else %}
                        <img src="{% static 'main_page/img/no-toilet.png' %}">
                    {% endif %}
                    {% if place.accessible_by_walking_stick %}
                        <img src="{% static 'main_page/img/stick.svg' %}">
                    {% else %}
                        <img src="{% static 'main_page/img/no-stick.jpg' %}">
                    {% endif %}
                    {% if place.accessible_by_wheel_chair %}
                        <img src="{% static 'main_page/img/wheelchair.png' %}">
                    {% else %}
                        <img src="{% static 'main_page/img/no-wheelchair.png' %}">
                    {% endif %}
                    {% if place.priority_parking %}
                        <img src="{% static 'main_page/img/parking.png' %}">
                    {% else %}
                        <img src="{% static 'main_page/img/no-parking.png' %}">
                    {% endif %}
                    {% if place.visual_impdairment_facilities %}
                        <img src="{% static 'main_page/img/blind.png' %}">
                    {% else %}
                        <img src="{% static 'main_page/img/no-blind.png' %}">
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</main>
{% endblock %}
